*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  box-sizing: border-box;
  width= 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.menu-icon{
  cursor: pointer;
  margin-left: 40px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
*/



.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;
}

h1{
  color:coral;
  font-size: 100px;
}

p{ 
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 15px;
}

button{
  width: 180px;
  color: #fff;
  font-size: 12px;
  padding: 12px 0;
  background: coral;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 5px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  }

.card1{
  background-image: url(images/lemon\ sarbath.jpeg);
}

.card2{
  background-image: url(images/icecreams.jpeg);
}

.card3{
  background-image: url(images/burger.jpeg);
}

.card4{
  background-image: url(images/salads.jpeg);
}

.card:hover{ 
  transform: translateY(-10px)
}

h5{
  color: #fff;
  text-shadow: 0 0 5px #999;
}
.card p{
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

  .header ul {
   text-align: left;
  }

  .header ul li {
   list-style: none;
   display: inline-block;
  }

  .header ul li a {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   font-size: 13px;
   family='Roboto',
   sans-serif;
   letter-spacing: 2px;
   font-weight: 600;
   padding: 20px;
   transition: all ease 0.3s;
  }

  .header ul li a:hover {
   background-color: #caa46a85;
  }



<!--glow-->
body {
 background-color: black;
 font-family: cursive;
 }

 .glow {
 font-size: 80px;
 color: #fff;
 text-align: center;
 animation: glow 1s ease-in-out infinite alternate;
 }

 @-webkit-keyframes glow {
 from {
 text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66800, 0 0 40px #e6cf00, 0 0 50px #e68e00, 0 0 60px #e65c00, 0 0
 70px #e63600;
 }

 to {
 text-shadow: 0 0 20px #fff, 0 0 30px #ff8e4d, 0 0 40px #ff774d, 0 0 50px #ff944d, 0 0 60px #ff9d4d, 0 0 70px #ff8e4d, 0
 0 80px #ff9d4d;
 }
 }




.video-background
{
 position:absolute;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width:auto;
 height:auto;
 z-index: -1;
}

@media(min-aspect-ratio:16/9)
  
     .video-background
     {
       width: 100%;
       height:auto;
     }

@media(max-aspect-ratio:16/9)
  
     .video-background
     {
       width: 100%;
       height:auto;
     }

.welcome-msg
{
  position:relative;
  text-align:center;
  font-family:monospace;
  color: #fff;
  top: 10px;  
}

