body{
 width: 100vw;
 height: 100vh;
 margin: 0;
 overflow: hidden;
}
.curved{
 animation: blink 40s infinite;
 -webkit-animation: blink 10s infinite;
 color: #fff;
 text-align: center;
}
.curved h1 {
 font-size: 4rem;
 font-family: 'segoe UI', Tahoma, Geneva, verdana, sans-serif;
 margin-top: 0;
 }
 .curved p{
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 5rem 0 5rem;
 }
 .curved svg{
  display: block;
 }
















 @keyframes blink{
  0%{
   background: rgb(119, 4, 119);
  }
  10%{
   background: rgb(236, 19, 55);
  }
   20%{
   background: red;
  }
   30%{
   background: orange;
  }
   40%{
   background: rgb(187, 161, 13);
  }
   50%{
   background: rgb(0, 187, 0);
  }
   60%{
   background: rgb(13, 91, 139);
  }
   70%{
   background: rgb(183, 0, 255);
  }
   80%{
   background: rgb(100, 2, 71);
  }
   100%{
   background: rgb(0, 0, 0);
  }
 }


 @-webkit-keyframes blink{
  0%{
   background: violet;
  }
  0%{
   background: pink;
  }
   15%{
   background: red;
  }
   30%{
   background: orange;
  }
   45%{
   background: yellow;
  }
   60%{
   background: green;
  }
   75%{
   background: lightskyblue;
  }
   80%{
   background: rgb(183, 0, 255);
  }
   90%{
   background: rgb(63, 3, 3);
  }
   100%{
   background: rgb(0, 0, 0);
  }
 }

{

 }
