.center{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h1,p{
  color: white;
  background: repeating-linear-gradient(-45deg,  yellow 7.14%, rgb(0,255,0) 14.28%,white 15%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}
