* {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  box-sizing: border-box;
}








#nav-checkbox,
.nav-toggle {
  display: none;
  }

header {
  position:relative;
  top: 0;
  left:0;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: space-around;
  padding: 10px 0;
  transition: background-color 0.5s ease;
}


.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 30px;
}

.nav-menu li a:hover {
  color: #f37a47;
}

.active {
  background: #cc0000;
}

.active a:hover {
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    top: 25px;
    right: 0;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    top: 25px;
    right: 0;
  }

  .nav-toggle img {
    width: 25px;
  }

  .align-text,
  input[type='checkbox'] {
    display: none;
  }

  #nav-checkbox:checked~.nav-menu {
    background: #cc0000;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #fff;
  }

  .nav-menu li {
    display: none;
    margin: 10px 0;
  }

  #nav-checkbox:checked~ul.nav-menu li {
    display: block;
  }

  #nav-checkbox:checked~label.nav-toggle .align-text {
    display: none;
  }

  #nav-checkbox:checked~label.nav-toggle .align-text {
    display: block;
  }
}
/*
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}


.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.navbar ul li a {
  display: block;
  color: #fff;
  padding: 16px;
}

.navbar ul li a:hover {
  background-color: #ffffff;
  color: rgb(236, 77, 38);
}

.navbar a.active {
  background-color: #ee9828;
  color: white;
}

.menu-icon {
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}


*/






.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

h1 {
  color: coral;
  font-size: 100px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 15px;
}

button {
  width: 180px;
  color: #fff;
  font-size: 12px;
  padding: 12px 0;
  background: coral;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 5px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card1 {
  background-image: url(images/lemon\ sarbath.jpeg);
}

.card2 {
  background-image: url(images/icecreams.jpeg);
}

.card3 {
  background-image: url(images/burger.jpeg);
}

.card4 {
  background-image: url(images/salads.jpeg);
}

.card:hover {
  transform: translateY(-10px);
}

h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

.header ul {
  text-align: left;
}

.header ul li {
  list-style: none;
  display: inline-block;
}

.header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 20px;
  transition: all ease 0.3s;
}

.header ul li a:hover {
  background-color: #caa46a85;
}

/*glow*/
body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66800,
      0 0 40px #e6cf00, 0 0 50px #e68e00, 0 0 60px #e65c00, 0 0 70px #e63600;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff8e4d, 0 0 40px #ff774d,
      0 0 50px #ff944d, 0 0 60px #ff9d4d, 0 0 70px #ff8e4d, 0 0 80px #ff9d4d;
  }
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) .video-background {
  width: 100%;
  height: auto;
}

@media (max-aspect-ratio: 16/9) .video-background {
  width: 100%;
  height: auto;
}

.welcome-msg {
  position: relative;
  text-align: center;

  color: #fff;
  top: 10px;
}

<!--image grid -- > body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* footer section */

body {
  background: #111;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background: repeating-linear-gradient(
    -45deg,
    rgb(255, 95, 21) 7.14%,
    rgb(255, 157, 0) 14.28%,
    rgb(255, 251, 0) 17.14%,
    white 17.5%
  );
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  color: #ee9828;
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #ee9828;
}

.socials a i {
  font-size: 2rem;
  transition: color 0.4s ease;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}



@media only screen and (max-width:767px) {
  .navbar-nav {
    font-size: 25px;


  }
  .card{
    margin-bottom: 30px;
    align: center;
  }

  }

}